body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 50vh;
    border: 1px solid #4CAF50;
    border-radius: 5px;
}

.login{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;	
}

button{
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.username{
    position: absolute;
    top: 20px;
    right:40px;
    color: #4CAF50;
    font-weight: bold;
}